<div class = "container">
  <div class = "row">
    <div class= "offset-1 col-lg-12 align-middle">
      <p>登録済みの方はこちら</p>
      <%= link_to "アカウントをすでにお持ちの方", user_session_path, class:"btn btn-success" %></br>
      <p>新規登録の方はこちら</p>
      <%= link_to "新規登録の方", new_user_registration_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>